@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
a {
    text-decoration: none;
    color: #0877b8
}
a:hover,a:focus {
    text-decoration: underline;
}
.linkNav {
    font-weight: bold;
    color: #423101
}
body {
    margin:0;
    padding: 0;
    background-color: #def2f3;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.nome {
    margin: 0;
    color: #B6D2E3;
    font-size: 32pt;
}
header {

    background-color: #ffffff;
}
.menuNav {
    background-color: #F4877A;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.logo {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 0;
    background: linear-gradient(0deg, #011c2e 0%, #042338 100%);
    align-items: center;
}
footer {
    background-color: #FFBF57;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
section {
    background-color: #e6feff;
    padding: 15px;
}
.inicio {
    margin: 0;
}
.atracao {
    border:9px #ffffff;
    border-radius: 5px;
}
address {
    color: #011c2e;
    
}