body {
    margin:0;
    padding: 0;
    background-color: #e6feff86;
}
h1 {
    margin:0;
}
header {

    background-color: #ffffff;
}
.menuNav {
    background-color: coral;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.logo {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
}