body {
    margin:0;
    padding: 0;
    background-color: #e6feff86;
}
h1 {
    margin:0;
}
header {

    background-color: #ffffff;
}
.menuNav {
    background-color: #F4877A;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.logo {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    background: linear-gradient(0deg, rgba(1,28,46,1) 0%, rgba(4,35,56,1) 100%);
}