input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.categorias{
  display: flex;
  background-color: #ffffff;
  align-self: center;
}
.selecao{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

}
.subCategoria{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  border: 0;
  background-color: #fdfafa;
  box-shadow: 0px 0px 2px rgba(90, 90, 90, 0.322);
  padding-top: 30px;
}

.filtroInput{
  appearance: none;
  border: 0;
  border-radius: 5px;
  border-color: #bbbbbb;
  padding: 4px;
  box-shadow: 0px 0px 2px rgb(0, 0, 0);
}

#filtrarButton{
  appearance: none;
  align-self: center;
  border-radius: 4px;
  border:0;
  box-shadow: 0px 0px 2px rgb(0, 0, 0);
  background-color: #F4877A;
  padding: 10px;
  font-weight: 700;
  font-size: 15px;
  align-self: center;
}
#palavrasChaves{
  width: 100%;
}
