input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
fieldset.categorias{
  background-color: #ffffff;
}
fieldset.subCategoria{
  background-color: #fdfafa;
}